@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    header {
        width: 100%;
        height: 80px;
        top: 0 ;
        left: 0;
        background-color: #303030;

    }

    #logoDNC {
        width: 97px;
        height: 75px;
        padding: 0;
        

    }

    header h1 {
        position: absolute;
        width: 133px;
        height: 26px;
        top: 5px;
        left: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 56px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

    }

    #firstSection p {
        margin-top: 50px;
        margin-left: 100px;
        width: 414px;
        height: 78px;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        color: #265E70;
    }

    #form1 {
        position: absolute;
        width: 341px;
        height: 227px;
        left: 145px;
        top: 292px;
        transform: rotate(12.22deg);
        filter: brightness(0.3) saturate(0.3) contrast(1.5);


    }

    #form2 {
        position: absolute;
        width: 341px;
        height: 227px;
        left: 125px;
        right: 46.58%;
        top: 330px;
        bottom: 26.96%;
        opacity: 0.8;
        transform: rotate(12.22deg);
    }

    #womanMotorbike {
        position: absolute;
        width: 341px;
        height: 277px;
        left: 155px;
        top: 252px;

    }

    #secondSection h2 {
        position: absolute;
        width: 714px;
        height: 44px;
        left: 650px;
        top: 90px;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 44px;
        text-align: center;
        color: #265E70;

    }

    #carrossel {
        position: relative;
        display: flex;
        justify-content: flex-end;
        top: -50px;
        width: 340px;
        height: 350px;
        margin-left: 850px;
        background: rgba(77, 188, 233, 0.75);
        border-radius: 15px;


    }

    #slide {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #imagens {
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
    }
    
    .staLeft {
        cursor: pointer;
    }


    #moto1 {
        margin-top: 70px;
        width: 200px;
        height: 200px;
        margin-left: 80px;
        flex-shrink: 0;
    }

    #moto2 {
        margin-left: 140px;
        margin-top: 90px;
        padding-right: 10px;
        width: 220px;
        height: 150px;
        flex-shrink: 0;
    }

    #slide::-webkit-scrollbar {
        display: none;
    }

    .motorbike {
        transition: transform 0.3s ease-in-out;
    }
    .motorbikeSelected {
        transform: scale(1.05);
    }

    #stLeft {
        position: absolute;
        left:780px;
        top: 350px;
    }

    #stRight {
        position: absolute;
        left:1240px;
        top: 350px;
    }

    #aPartir {
        position: absolute;
        left: 130px;
        top: 120px;
        font-family: 'Verdana';
        font-style: normal;
        font-size:18px;
        line-height: 22px;
        color: #FFFFFF;
        font-weight: 100;
        margin-top:  130px;
    }

    #preco {
        position: absolute;
        left: 120px;
        top:260px;
        width: 122px;
        height: 30px;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 33px;
        align-items: center;
        text-align: center;
        color: #265E70;
        background: #FFFFFF;
        border-radius: 12px;

    }

    #plano {
        position: absolute;
        top: 300px;
        left: 120px;
        font-family: 'Verdana';
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 50;
    }


    .motorbikeContainer {
        position: relative;
        display: inline-block;
    }
    
    .motorbikeText {
        position: absolute;
        bottom: 0;
        margin-left:50px;
        padding: 0;
        top: 10px;
        font-size: 18px;
        font-weight: 700;
        font-family: Verdana;
        color: #fff;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    
    .motorbikeSelected + .motorbikeText {
        opacity: 1;
    }
    
    #botao {
        position: relative;
        width: 241px;
        height: 65px;
        left: 90px;
        top: 250px;
        font-size: 29px;
        color: #FFFFFF;
        font-weight: 700;
        border: none;
        background: #4DBCE9;
        border-radius: 15px;
        cursor: pointer;
    }

    #saibaMaisBtn{
        position: absolute;
        left: 930px;
        width: 200px;
        height: 50px;
        font-size: 29px;
        font-weight: 700;
        color: #FFFFFF;
        background: #4DBCE9;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        
    }

    #saibaMaisBtn:hover{
        background: #265E70;
    }

    .windowModal {
        position: absolute;
        width: 100%;
        height:585px;
        top: 80px;
        left: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(223, 223, 223, 0.9);
    }


    .windowModal.open{
        display: flex;
    }


    .modal {
        position: absolute;
        width: 558px;
        height: 533px;
        background: rgba(77, 188, 233, 0.75);
        border-radius: 15px;
    }

    .buttonX {
        position: absolute;
        width: 32px;
        height: 25px;
        left:500px;
        padding-top: 20px;
        cursor: pointer;

    }